@import url('https://fonts.googleapis.com/css?family=Roboto');
@keyframes animacija {
	from{ top:-100px; }
	to{ top: 0px; }
}
* {
	margin: 0px;
	padding: 0px;
}
body {
	font-family: 'Roboto', sans-serif;
	position: relative;
	z-index: -1;
}
.cleaner {
	clear: both;
}
a {
	text-decoration: none;
	color: #000;
}
ul {
	list-style-type: none;	
}
	/*Zaglavlje*/
header {
	position: fixed;
	top: 0px;
	width: 100%;
	border-bottom: 2px solid #f7a32e;
	background-color: #fff;
	height: 110px;
	z-index: 2;
	
}
.okvir {
	width: 1024px;
	margin: 0px auto;
}
#logo {
	width: 300px;
	height: 100px;
	float: left;
}
#logo img{
	position:relative;
	animation-name: animacija;
	animation-duration: 3s;
}
	/*Meni*/
#meni {
	float: right;
}

#meni ul {
	padding-top: 20px;
}
#meni ul li {
	display: inline-block;
	padding-top: 30px;
	
}
#meni ul li a {
	font-size: 22px;
	padding: 10px;
}
ul li a:hover {
	color: #f7a32e;
}
.active {
	border-top: 2px solid #f7a32e;
}
	/*Sadržaj*/
main {
	margin-top: 120px;
	width: 100%;
	background-color: rgba(168,166,164,0.1 );
}
#slika {
	background-image: url("../img/slika1.jpg");
	width: 100%;
	height: 550px;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 5px;
}
.blok {
	margin-top: 20px;
	padding: 20px 0px;
	background-color: rgba(168,166,164,0.3 );
}
#tekst {
	margin-top: 10px;
	width: 500px;
	float: left;
}
#tekst h1 {
	text-transform: uppercase;
	
}
#tekst p span {
	font-weight: bold;
}
p{
	margin-top: 20px;
	font-size: 17px;
	line-height: 1.5;
}
#blokSlika {
	float: right;
	margin-top: 50px;
}
#blokSlika img {
	border-radius: 30px;
}
#podnaslov {
	text-transform: uppercase;
	margin-top: 20px;
}
.kurs {
	float: left;
	margin: 30px;
	box-shadow: 2px 2px 5px #000 ;
}
.kurs:hover {
	box-shadow: 5px 5px 10px #000
}
figcaption {
	padding: 20px;
	text-align: center;
	font-weight: bold;
}
.kurs figcaption a:hover {
	color: #f7a32e;
}
	/*Podnožje*/
footer {
	margin-top: 30px;
	background-color: #000;
}
.blokfooter {
	float: left;
	padding: 10px;
	width: 300px;
	margin-right: 10px;
	margin-bottom: 20px;
}
.blokfooter h3 {
	color: #fff;
	text-transform: uppercase;
}
#meniFooter li {
	margin-top: 10px;
	padding-left: 10px;
}
.active1 {
	border-left: 2px solid #f7a32e;
}

#meniFooter li a {
	color: #fff;	
}
#meniFooter li a:hover {
	color: #f7a32e;
}
.blokfooter p {
	color: #fff;
	margin-top: 20px;
	font-size: 12px;
	line-height: 1.5;
	
}
.desno {
	float:right;
}
#ulSoc {
	margin-top: 15px;
}
#ulSoc li {
	float: left;
	margin-right: 10px;
}
#ulSoc li a {
	color: #fff;
}
#ulSoc li a:hover {
	color: #f7a32e;
	
}
	/*Sadržaj stranice kursEngleskog*/
#pozSlika1 {
	height: 500px;
	background-image: url("../img/pozSlika1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
#tekst1 h1 {
	text-align: center;
}
#tekst1 h2 {
	margin-top: 30px;
}
.tekst{
	text-align: justify;
	text-indent: 30px;
}
.tabela {
	margin: 0 auto;
	margin: 30px auto;
}
.tabela, th, td {
    border-collapse: collapse;
	border: 1px solid #000;
}
.tabela th, td {
	width: 150px;
	height: 60px;
	text-align: center;
}
.tabela th {
	background-color: #f7a32e;
}
.tabela td {
	background-color: #fff;
}
.tabela span {
	text-transform: uppercase;
	font-weight: bold;	
}
	/*Sadržaj stranice kursNemačkog*/
#pozSlika2 {
	height: 500px;
	background-image: url("../img/pozSlika2.jpg");
	background-repeat: no-repeat;
	background-size: cover;	
}
	/*Sadržaj stranice kontakt*/
#flex {
	display: flex;
	justify-content: space-around;
	padding: 30px 0px;
	width: 1200px;
	margin: 0px auto;
}
.blokKontakt {
	width: 300px;
	height: 300px;
}
.blokKontakt.levo {
	background-image: url("../img/mapa.jpg");
	border: 2px solid  #f7a32e;
}
.blokKontakt.levo:hover {
	border: 2px dotted #f7a32e;
}
.blokKontakt.desno h2 {
	margin-top: 20px;
}
	/*Forma*/
#tbforma {
	background-color: rgba(168,166,164,0.2 );	
}
#tbforma tr td {
		border: none;
}
#tbforma td {
	width: 150px;
	height: 60px;
}
#tbforma caption {
	font-size: 20px;
	font-weight: bold;
}
input[type=text],[type=tel],[type=email], textarea {
	width: 90%;
	height: 50%;
	font-size: 15px;
}
#tbforma textarea {
	resize: none;
}
#btnPosalji, #btnPonisti {
	width: 100px;
	height: 50px;
	background-color: rgba(168,166,164,0.2 );
	border: 2px solid #f7a32e; 
	font-size: 18px;
}
#btnPosalji:hover {
	border: 2px dotted #f7a32e; 
}
#btnPonisti:hover {
	border: 2px dotted #f7a32e; 
}
	/*Sadržaj stranice oAutoru*/
#profil {
	width: 280px;
	margin: 0px auto;
}
#slikaProfil {
	border-radius: 10%;
	margin: 50px 0px 40px 0px;
}




